@import './variables';
@import './fonts';

html, body {
  font-family: 'Dosis';
  background: $background;
  height: 100%;
  max-height: 100%;
  color: $text;
}

a {
  color: $link;
}
a:hover {
  color: $link-hover;
}

.content {
  height: 100%;
  max-height: 100%;
}

.navbar-mp {
  text-transform: uppercase;
  font-family: "Share";

  a.nav-link {
    color: $link;
  }
  a.nav-link:hover {
    color: $link-hover;
  }
}