$background: #000d05;
$background-dark: #000d05;
$background-light: #6dc98f;

$text: #6dc98f;
$text-light: #6dc98f;
$text-dark: #000d05;

$link: #19a64d;
$link-hover: #34e073;

$primary-highlight: #bdf4bc;
$secondary-highlight: #69ca98;

$border-primary: #112423;
$border-secondary: #39444B;
