@import './../../../variables';

.HoldingsList {
  font-size: 0.8em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow-y: auto;

}

.HoldingsListItem {
  padding: 0;
  cursor: pointer;

  font-weight: 200;

  border: $border-secondary solid 1px;

  div {
    height: auto;
  }

  p {
    padding: 0.2em;
  }

  .HoldingListItemLoading {
    font-size: 0.6em;
    font-weight: lighter;
    background: $secondary-highlight;
    color: $text-dark;
  }

  .HoldingsListItemSymbol {
    font-family: "Share", sans-serif;
    font-size: 1em;
    color: #0C4102;
    width: 100%;
    background: $primary-highlight;
    margin-bottom: 0;

    .HoldingListItemTimestamp {
      font-weight: 200;
      font-size: 0.6em;
      margin-left: 1em;
    }
  }

  .HoldingListItemDetail {
    font-size: 1em;

    .HoldingListItemDetailQuantity {
      font-weight: bolder;
      margin-right: 0.2em;
      letter-spacing: 0.07em;
    }

    .HoldingListItemAt {

    }

    .HoldingListItemDetailCost {
      font-weight: bolder;
      margin: 0 0.2em;
      letter-spacing: 0.07em;
    }
  }

}
