@import "../../../../public/styles/variables.module";

.Toolbar, .ToolbarVertical {
  border-width: 1px;
  border-style: solid;

  padding: 0;
  margin: 0;

  :global {
    .btn {
      box-shadow: none;
      background-color: transparent;
    }
    .col {
      padding: 0;
      margin: 0;
    }
  }
}

.Toolbar {
  :global {
    .btn + .btn {
      border-left-style: solid;
      border-left-width: 1px;
    }
    .btn:last-child {
      border-right-width: 1px;
      border-right-style: solid;
    }
  }
}

.ToolbarVertical {
  width: 2em;
  :global {
    .btn + .btn {
      border-top-style: solid;
      border-top-width: 1px;
    }
  }

}