@import "../../../../public/styles/variables.module";

.Toolbar, .ToolbarVertical {
  border: 1px solid $border-primary;
}

.Toolbar {

  // don't collapse this or it loses specificity
  margin-top: -11px;
  margin-left: -0.6em;
  margin-right: -0.6em;
  margin-bottom: 0;

  .ToolbarCol {
    padding: 0;
  }
}

.ToolbarVertical {

  width: 2em;
  padding: 0;
  margin: -10px 0 0 -0.9em;
}