// values
$mp-black: #0D0D0D;
$mp-white: #F2F2F2;

// greys
$mp-grey1: #191716;
$mp-grey2: #666666;
$mp-grey3: #808080;
$mp-grey4: #B3B3B3;
$mp-grey5: #D9D9D9;

// greens
$mp-green: #47E0B4;
$mp-green1: #022612;
$mp-green2: #067036;
$mp-green3: #1D7024;
$mp-green4: #32BD3E;
$mp-green5: #3EF04D;
$mp-green6: #42FC51;
$mp-green7: #38D645;
$mp-green8: #0CF072;
$mp-green9: #0DFC79;
$mp-green10: #0BD666;

// blues
$mp-blue-grey: #0E1B26;
$mp-light-blue: #6295D9;
$mp-blue: #2B718C;

// yellows
$mp-bright-yellow: #D9B91A;

// browns
$mp-mid-brown: #593B03;
$mp-tan: #F28B50;
$mp-dark-brown: #261901;

// reds
$mp-bright-red: #A60303;
$mp-red: #590202;

// role based color defs
$text: #26544C;

$link: #19a64d;
$link-hover: #34e073;

$primary-highlight: $mp-green4;
$secondary-highlight: $mp-green8;

$border-primary: $mp-grey2;
$border-secondary: $mp-grey3;

$btn-border: #317A6C;
$btn-primary: $mp-green;
$btn-primary-hover: #4ABAA4;
$btn-secondary: #80E0D0;
$btn-secondary-hover: #4ABAA4;
$btn-disabled: $mp-grey4;
$btn-outline-hover: #19171620;
