@import '~bootstrap/dist/css/bootstrap.min.css';

@import 'containers';
@import 'icons';

.shift-right {
  float: right;
}
.shift-left {
  float: left;
}

// format the border for horizontal toolbars inside panels
.mp-panel-body > .mp-toolbar-horizontal {
  border-left: none;
  border-right: none;

  &.top {
    border-top: none;
  }

  &.bottom {
    border-bottom: none;
  }
}

// not sure on the selector below
.mp-panel .mp-grid .mp-toolbar-vertical {
  border-top: none;
  border-bottom: none;
  margin-top: -0.3em;
  margin-bottom: -0.3em;

  &.left {
    border-left: none;
    margin-left: -0.7em;
  }

  &.right {
    border-right: none;
    margin-right: -0.7em;
  }
}

.timestamp {
  font-weight: 100;
  color: $mp-grey4;
}

.mp-nav-item {
  display: block;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
}