@import '~bootstrap/dist/css/bootstrap.min.css';

@import 'colors.module';
@import 'fonts.module';
@import 'effects.module';
@import 'variables.module';
@import 'buttons';
@import 'containers';
@import 'graphs';

html.mp, html.mp body {
  height: 100%;
  max-height: 100%;

  a {
    color: $link;
  }
  a:hover {
    color: $link-hover;
  }

  a.nav-link {
    color: $link;
  }
  a.nav-link.active {
    color: $link-hover;
  }
  a.nav-link:hover {
    color: $link-hover;
  }

  p {
    margin: 0;
  }

  input {
    color: $text;
    border-width: 1px;
  }

  .content {
    height: 100%;
    max-height: 100%;
  }

  .modal-content {
    color: $text;
    border: $border-secondary solid 1px;

    .modal-header {
      color: $text;
      font-family: "Share", sans-serif;
    }
  }

  .navbar {
    text-transform: uppercase;
    font-family: "Share", sans-serif;

    .nav-item {
      cursor: pointer;
    }
  }

  .nav-tabs {
    border-bottom: $border-secondary solid 1px;

    .nav-link {
      background-color: transparent;
      color: $text;
    }
    .nav-link.active {
      background-color: transparent;
      color: $text;
      border: $border-secondary solid 1px;
    }
    .nav-link:hover {
      border: $border-secondary solid 1px;
    }
  }

  .dropdown-menu {
    border: $border-secondary solid 1px;
  }

  .dropdown-item {
    color: $text;
  }

  /* TODO: move this to the accounts module? */
  .accounts-modal {
    width: 90vw;
    max-width: 90vw;

    height: 80vh;
    max-height: 80vh;

    .modal-content {
      height: 100%;

      .modal-body {
        padding: 0;

        .nav-item {
          padding-left: 1rem;
          cursor: pointer;
        }

        .nav-item + .nav-item {
          border-top: black solid 1px;
        }
      }
    }
  }
}

.mp-toolbar {
  border-color: $mp-green;
  padding: 0 !important;

  .btn {
    border-color: $mp-green;
  }
}