@import "./../../../../public/styles/colors.module";

.Button, .IconButton {
}

.Button.btn-full {
  display: block;
  width: 100%;
  margin: 0.3em;
}


.IconButton {
  padding: 0;
  border-radius: 0;
  width: 2em;
  height: 2em;
}

.IconButton + .IconButton {
  border-left: none;
}