@import "../../../../public/styles/variables.module";

.Panel {
}

.PanelTitle {
  font-size: 1.2em;
  font-weight: 500;
  border-bottom: 1px solid inherit;
  position: relative;
  min-height: 2.0em;
  line-height: 2.0em;

  .PanelControls {
    float: right;
  }

  :global {
    .mp-panel-header-controls .btn {
      border: none;
      box-shadow: none;
      background-color: transparent;
    }
  }
}

.PanelBody {
}

.PanelFooter {
  border-top: 1px solid inherit;
  text-align: right;
}