@import "../../../../public/styles/variables.module";

.Panel {
  padding: 6px;

  :global {
    p {
      margin-bottom: 0;
    }
    p + p {
      margin-bottom: 0;
    }
  }
}

.PanelTitle {
  border-bottom: 1px solid inherit;
  margin-top: -7px;
  margin-left: -7px;
  margin-right: -7px;
  padding: 0.3em;
  position: relative;

  :global {
    .btn, .btn-close {
      position: absolute;
      right: 0;
    }
  }
}

.PanelBody {
  padding: 0.3em;
  margin-left: -7px;
  margin-right: -7px;
}

.PanelFooter {
  border-top: 1px solid inherit;
  margin-bottom: -7px;
  margin-left: -7px;
  margin-right: -7px;
  padding: 0.3em;
  text-align: right;

  :global {
    .btn + .btn {
      margin-left: 0.3em;
    }
  }
}