.InvestmentPerformance {

}

.InvestmentPerformanceHeader {
  h1 {
    display: inline-block;
  }

}

.InvestmentPerformanceChartControls {
  display: inline-block;
  padding-top: 1em;
}