.Investments {
  height: 100%;
  max-height: 100%;
}

.InvestmentTabs {

  .InvestmentTabContent {
    height: 100%;
    max-height: 100%;
  }
}

.InvestmentAccount {
  border: yellow solid 1px;
}
