@import '../../../public/styles/variables.module';

.Accounts {
}

.AccountChip {
  max-height: 200px;
  max-width: 400px;
  display: inline-block;
  margin: 0.3em;
  padding: 0.3em;

  background-repeat: no-repeat;
  background-size: 100%;

  .AccountChipId {
    width: 100px;
    display: inline-block;

    .AccountChipIdTitle {
      font-size: 0.9em;
      display: inline-block;
      margin-bottom: 0;

      :global {
        div {
          display: inline-block;
        }
        .mp-icon {
          font-size: 2em;
          margin-right: 0.15em;
        }
      }
    }

    :global {
      .timestamp {
        font-size: 0.7em;
      }

      .balance {
        font-size: 1.3em;
        margin-bottom: 0;
      }
    }
  }

  .AccountChipSparkline {
    width: 50%;
    display: inline-block;
  }
}

.AccountTile {

}