@import './../../variables';

.Accounts {

  .AccountsFilter {
    border: $border-primary solid 1px;
    margin-bottom: 10px;

    div {
      display: inline-block;
    }

    div > input {
      margin-right: 2px;
    }

    div + div {
      margin-left: 25px;
    }

    .AccountsAddButtonContainer {
      float: right;
    }
  }

  .AccountItem {

    border: $border-primary solid 1px;
    padding: 3px 5px;

    .AccountItemIcon {
    }

    .AccountItemName {
      margin: 0 10px;
    }

    .AccountItemBalance {
      font-weight: bolder;
    }

    .AccountItemTimestamp {
      margin-left: 10px;
      font-size: 0.7em;
      font-weight: lighter;
      font-style: italic;
    }

    .AccountItemRefresh {
      float: right;
      display: inline-block;
    }
  }

}