<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
    </head>
    <body>
        <div class="primary">
            <div class="banner">Money Printer Banner</div>

            <div class="body">
                <span class="salutation">Hello {name}!</span>

                <p class="text">A new profile has been created for you on moneyprintergobrr.io:</p>

                <p class="text">
                    <span class="row">Username: {username}</span>
                    <span class="row">Password: {password}</span>
                </p>

                <p class="text">
                    This password is a temporary one and has been generated for you. Once you log in, you will be
                    asked to change your password.
                </p>

                <p class="text">
                    Thanks a lot for your interest, good luck!
                </p>

                <p class="text">- Money Printer Team</p>
            </div>
        </div>
    </body>
</html>