.Grid {
  padding: 0.3em;

  :global {
    .row {
      margin-left: 0.3em;
      margin-right: 0.3em;
    }
    .row + .row {
      margin-top: 0.3em;
      margin-bottom: 0.3em;
    }
    .col + .col {
      margin-left: 0.3em;
      margin-right: 0.3em;
    }
  }
}