.Overview {

  div {

    span {
      font-size: 1.5em;
      display: block;
      font-weight: bolder;
    }

    display: inline-block;
    border: #5FA23F solid 1px;
    border-collapse: collapse;
    width: 120px;
    height: 80px;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: lighter;
    padding-top: 10px;
  }
}