.DS_Store
.git
.venv
.idea
logs
client# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore